/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* Spacing system
2/4/8/12/16/24/32/48/64/80/96/128 */

:root {
  --bg-main: #cfddeb;
  --color-blue: #2e4a63;
  --color-light-blue: #abb7c1;
  --color-beige: #f1e9dc;
  --color-light-beige: #fefdfc;
  --color-accent: #eb6d80;
  --text-color: #444;
  --font-header: "Comfortaa", sans-serif;
  --font-text: "Nunito", sans-serif;
  --font-accent: "Caveat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
  font-family: var(--font-text);
  color: #444;
  line-height: 32px;
  font-size: 24px;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

a,
p,
h1,
h2,
h3 {
  font-family: var(--font-header);
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

p,
li {
  font-size: 16px;
}

input {
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
}

.logo {
  width: 150px;
  height: auto;
  padding: 12px 0;
}

.container {
  max-width: 1312px;
  padding: 0 16px;
  margin: 0 auto;
}

.cta-btn {
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 20px;
  background-color: var(--color-blue);
  color: var(--color-beige);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-btn:hover,
.cta-btn:focus {
  background-color: var(--color-beige);
  color: var(--color-blue);
  box-shadow: inset 0 0 4px var(--color-blue);
}

.cta-btn:active {
  box-shadow: inset 0 0 12px var(--color-blue);
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: var(--text-color);
  vertical-align: middle;
}

/**************/
/* SCROLL-TO-TOP*/
/**************/

.scroll-to-top {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 20px;
  z-index: 999;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(241, 233, 220);
  box-shadow: inset 0 0 4px var(--color-blue);
}

.scroll-to-top:hover,
.scroll-to-top:focus {
  box-shadow: inset 0 0 12px var(--color-blue);
}

.scroll-to-top:active {
  background-color: rgb(171, 183, 193, 0.6);
}

.icon.caret-up-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
