:root {
  --bg-main: #cfddeb;
  --color-blue: #2e4a63;
  --color-light-blue: #abb7c1;
  --color-beige: #f1e9dc;
  --color-light-beige: #fefdfc;
  --color-accent: #eb6d80;
  --text-color: #444;
  --font-header: "Comfortaa", sans-serif;
  --font-text: "Nunito", sans-serif;
  --font-accent: "Caveat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
  font-family: var(--font-text);
  color: #444;
  line-height: 1.5;
  font-size: 16px;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

a,
p,
h1,
h2,
h3 {
  font-family: var(--font-header);
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

p,
li {
  font-size: 16px;
}

input {
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
}

.logo {
  height: auto;
  padding: 12px 0;
}

.container {
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
}

.section-header {
  font-size: 36px;
  margin-bottom: 16px;
  padding-left: 10px;
}

.cta-btn {
  border-radius: 6px;
  font-size: 20px;
  background-color: var(--color-blue);
  color: var(--color-beige);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-btn:hover,
.cta-btn:focus {
  background-color: var(--color-beige);
  color: var(--color-blue);
  box-shadow: inset 0 0 4px var(--color-blue);
}

.cta-btn:active {
  box-shadow: inset 0 0 12px var(--color-blue);
}

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: var(--text-color);
  vertical-align: middle;
}

/**************/
/* SCROLL-TO-TOP*/
/**************/

.scroll-to-top {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 10;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: rgba(241, 233, 220, 0.7);
  box-shadow: inset 0 0 4px var(--color-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-to-top:hover,
.scroll-to-top:focus {
  box-shadow: inset 0 0 12px var(--color-blue);
}

.scroll-to-top:active {
  background-color: rgba(171, 183, 193, 0.6);
}

.icon.caret-up-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

/**************/
/* MODAL*/
/**************/
.modal-backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 74, 99, 0.8);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 2),
    0px 2px 1px rgba(0, 0, 0, 2);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
  font-size: 34px;
}

.modal-header:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 12px;
  margin-bottom: 18px;
  background-color: var(--color-accent);
  filter: blur(1px);
}

.modal-discount,
.modal-thank-you {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 300px;
  min-height: 400px;
  padding: 72px 20px 24px;
  background-color: var(--color-beige);
  border-radius: 8px;
  box-shadow: inset 0 0 12px var(--color-blue);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-thank-you {
  min-height: 300px;
}
.thank-you-text {
  margin-top: 44px;
  font-size: 22px;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: var(--color-light-beige);
  border: 1px solid var(--color-light-blue);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: var(--bg-main);
}

.close-btn:active {
  background-color: var(--color-blue);
}

.icon.close-icon {
  fill: var(--color-blue);
}

.icon.close-icon:active {
  fill: var(--color-light-beige);
}
