/* FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* Spacing system
2/4/8/12/16/24/32/48/64/80/96/128 */

:root {
  --bg-main: #cfddeb;
  --color-blue: rgb(46, 74, 99);
  /* --bg-btn-hover: #253b4f; */
  /* --bg-secondary: rgba(241, 233,220, 0.8); */
  --color-beige: #f1e9dc;
  --color-light-beige: #fefdfc;
  --text-color: #444;
  --font-header: "Comfortaa", sans-serif;
  --font-text: "Nunito", sans-serif;
  --font-accent: "Caveat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-main);
  font-family: var(--font-text);
  color: #444;
  line-height: 32px;
  font-size: 24px;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
}

a,
p,
h1,
h2,
h3 {
  font-family: var(--font-header);
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
input {
  display: inline-block;
}
button {
  cursor: pointer;
}

.container {
  max-width: 1312px;
  padding: 0 16px;
  margin: 0 auto;
}

.cta-btn {
  padding: 12px 24px;
  border-radius: 6px;
  background-color: var(--color-blue);
  color: var(--color-beige);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* font-family: var(--font-accent);
  font-weight: 600;
  font-size: 32px; */
}

.cta-btn:hover,
.cta-btn:focus {
  background-color: var(--color-beige);
  color: var(--color-blue);
  box-shadow: inset 0 0 4px var(--color-blue);
  /* border-bottom: none; */
}

.cta-btn:active {
  box-shadow: inset 0 0 12px var(--color-blue);
}
