@import url(./general.css);

/**************/
/* HEADER */
/**************/
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  padding: 0 32px;
  margin: 0 auto;
}
.logo-holder-header {
  flex: 2;
  max-width: 150px;
}

.logo.header-logo {
  padding-top: 24px;
  vertical-align: middle;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-top: 24px;
}

.nav-link {
  padding: 8px 8px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}

.nav-item:not(:last-child)::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-blue);
  opacity: 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:not(:last-child):hover:after,
.nav-item:not(:last-child):focus:after {
  opacity: 1;
}

.nav-item:not(:last-child):active:after {
  background-color: var(--color-beige);
}

.nav-item .cta-btn {
  padding: 8px 24px;
}

.nav-item:not(:last-child) {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:not(:last-child):hover,
.nav-item:not(:last-child):focus {
  color: var(--color-blue);
}

.nav-item:not(:last-child):active {
  color: var(--color-beige);
}

/**************/
/* HERO*/
/**************/

.section-hero {
  padding: 18px 0 42px;
}

.section-hero .container {
  padding: 0;
  border-radius: 8px;
  background-color: var(--color-beige);
  background-image: linear-gradient(
      to right,
      rgba(241, 233, 220, 1) 0%,
      rgba(241, 233, 220, 1) 20%,
      rgba(241, 233, 220, 0.5) 30%,
      rgba(241, 233, 220, 0.2) 60%,
      rgba(241, 233, 220, 0) 100%
    ),
    url(./img/hero.JPG);
  background-position: right;
  background-repeat: no-repeat;
}

.hero-text-box {
  max-width: 600px;
  padding: 48px 0 48px 32px;
  background-image: linear-gradient(
    to right,
    rgba(241, 233, 220, 1) 0%,
    rgba(241, 233, 220, 1) 0%,
    rgba(241, 233, 220, 0.8) 40%,
    rgba(241, 233, 220, 0.5) 80%,
    rgba(241, 233, 220, 0.2) 90%,
    rgba(241, 233, 220, 0) 100%
  );
  border-radius: 8px;
}

.main-header {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 36px;
}
.hero-text {
  font-size: 24px;
  line-height: 2;
  font-weight: 600;
  margin-bottom: 48px;
}

.hero-btn-holder {
  display: flex;
  align-items: center;
  gap: 24px;
}

.cta-btn.btn-light-bg {
  color: var(--color-light-beige);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cta-btn.btn-light-bg:hover,
.cta-btn.btn-light-bg:focus {
  color: var(--color-blue);
  background-color: var(--color-light-beige);
  box-shadow: inset 0 0 4px var(--color-blue);
}

.cta-btn.btn-light-bg:active {
  box-shadow: inset 0 0 12px var(--color-blue);
}

.learn-more-btn {
  padding: 12px 24px;
  color: var(--color-blue);
  font-weight: 600;
  background-color: var(--color-light-beige);
  border-radius: 6px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.learn-more-btn:hover,
.learn-more-btn:focus {
  box-shadow: inset 0 0 4px var(--color-blue);
}

.learn-more-btn:active {
  box-shadow: inset 0 0 12px var(--color-blue);
}

.hero-img-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**************/
/* ABOUT US*/
/**************/
.section-about {
  padding: 48px 0;
}
.about-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}

.about-img-holder {
  max-width: 350px;
  max-height: 600px;
  padding: 32px;
  flex: 1;
  background-color: rgba(46, 74, 99, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.about-img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 1px 0 10px var(--color-blue);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-img:hover {
  transform: scale(1.04);
}
.about-text-holder {
  flex: 2;
}

.about-text {
  font-size: 20px;
}
.about-text:not(:last-child) {
  margin-bottom: 24px;
}

/**************/
/* COURSES*/
/**************/
.section-courses {
  padding: 48px 0;
}
.section-header {
  font-size: 44px;
  margin-bottom: 44px;
}

.courses-intro-wrapper {
  margin-bottom: 42px;
}
.intro-text {
  margin-bottom: 32px;
  font-size: 20px;
}
.intro-list {
  display: flex;
  gap: 8px;
}
.intro-item {
  font-size: 20px;
  padding-left: 12px;
  border-left: 1px solid #888;
}

.intro-span {
  font-weight: 800;
}

.courses-wrapper {
  display: flex;
  gap: 20px;
}

.courses-card {
  width: calc((100% - 40px) / 3);
  padding: 24px;
  background-color: var(--color-beige);
  border-radius: 6px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.courses-card:hover {
  transform: translateY(-18px);
  box-shadow: 0 12px 24px rgba(46, 74, 99, 0.5);
}
.course-name {
  font-family: var(--font-accent);
  font-size: 44px;
}

.course-name::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 12px;
  margin-bottom: 18px;
  background-color: var(--color-accent);
  filter: blur(1px);
}

.course-text {
  margin-bottom: 12px;
}

.course-descr-item:not(:last-child) {
  margin-bottom: 12px;
}

/**************/
/* TESTIMONIALS*/
/**************/
.section-testimonials {
  /* flex: 1; */
  padding: 48px 0;
}
.testimonials-header {
  visibility: hidden;
  font-size: 12px;
  margin: 0;
}

.testimonial-name {
  font-family: var(--font-accent);
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 32px;
}

.testimonials-btn-holder {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.testimonials-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50px;
}

.icon.arrow-left,
.icon.arrow-right {
  width: 24px;
  height: 24px;
  fill: var(--color-blue);
  vertical-align: middle;
}

/**************/
/* TWO SECTIONS HOLDER*/
/**************/
.two-sections-holder {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  gap: 38px;
  padding: 48px 32px;
  margin-top: 44px;
  border-top-right-radius: 8px;
  background-image: linear-gradient(
    to left,
    rgba(241, 233, 220, 1) 0%,
    rgba(241, 233, 220, 0.8) 20%,
    rgba(241, 233, 220, 0.6) 50%,
    rgba(241, 233, 220, 0.2) 80%,
    rgba(241, 233, 220, 0) 100%
  );
}

/**************/
/* PRICES*/
/**************/
.section-prices {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .prices-container {
  flex: 1;
  padding: 24px 24px;
}

.section-header.prices-header {
  margin-bottom: 32px;
}

.prices-item-header {
  margin-bottom: 16px;
  font-family: var(--font-accent);
  font-size: 36px;
}

.prices-txt-holder {
  margin-bottom: 24px;
}

.prices-text-bold {
  font-weight: 800;
}

.prices-item-header::before,
.prices-item-header::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #abb7c1;
}

/**************/
/* CONTACT FORM*/
/**************/

.section-enroll {
  flex: 1;
}
.enroll-container {
  padding: 24px 0 24px 32px;
  justify-self: flex-end;
  margin: 0 auto;
}
.section-enroll .section-header {
  margin-bottom: 32px;
}
.section-enroll-text {
  max-width: 580px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 1.5;
}

.enroll-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 24px;
  width: 80%;
}

.form-label {
  margin-bottom: 10px;
}

.form-input {
  padding: 6px 12px;
  margin-bottom: 16px;
  background-color: var(--color-light-beige);
  color: var(--color-blue);
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--color-light-beige);
  outline: none;
}

.form-input::placeholder {
  color: #888;
  font-size: 16px;
}

.form-input:focus {
  border-color: var(--color-blue);
}
.form-btn {
  width: 60%;
  margin: 24px auto 0;
}

/**************/
/* FOOTER*/
/**************/

.footer {
  width: 100%;
  color: var(--color-beige);
  background-color: var(--color-blue);
  padding: 32px 0 0;
}

.container.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 68px;
}

.logo-holder-footer {
  width: 200px;
  margin-bottom: 32px;
}

.logo.logo-holder-footer {
  max-width: 200px;
}

.contact-holder {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
  font-size: 16px;
}

.icon.footer-mail-icon,
.icon.footer-tel-icon {
  fill: var(--color-beige);
  width: 24px;
  height: 24px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-holder {
  display: flex;
  align-items: center;
  gap: 24px;
  width: 48px;
  height: 48px;
}

.icon.icon-facebook,
.icon.icon-instagram {
  width: 36px;
  height: 36px;
  fill: var(--color-light-beige);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel-number,
.footer-email-address {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel-number:hover,
.footer-tel-number:hover .footer-tel-icon,
.footer-tel-number:active,
.footer-tel-number:active .footer-tel-icon,
.footer-email-address:hover,
.footer-email-address:hover .footer-mail-icon,
.footer-email-address:active,
.footer-email-address:active .footer-mail-icon {
  color: var(--color-light-blue);
  fill: var(--color-light-blue);
}

.facebook-link:hover .icon-facebook,
.facebook-link:active .icon-facebook,
.instagram-link:hover .icon-instagram,
.instagram-link:active .icon-instagram {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-light-blue);
}

.copyright {
  align-self: flex-end;
  margin-top: auto;
}

.copyright-text {
  font-size: 12px;
}

.icon.icon-copyright {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  fill: var(--color-beige);
}
.developer-link {
  text-decoration: underline;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.developer-link:hover,
.developer-link:active {
  color: var(--color-light-blue);
}
